*{margin0;  padding:0}
herder{ 
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
}
hearder nav ul{
        display: flex;
}
herder nav ul li{ 
        list-style:none;
        margin: 10px;
}
herder nav ul li a{
         text-decoration: none;
         color: #333;
}
herder nav ul li a:houver{ 
         color: yellow;
}
herder img{ 
        height: 100%;
}
section#noticias ul li{
        list-style:nome;
        width: 350px;
        height: 350px;
        background: gray;
}
section#noticias img{
        text-align: center;
        height: 100px;
        width: 100px;
        box-shadow: 5px 0px 0px 0px #00000030;
}
section#noticias .ctegoria{
 text-align: center;
}
section#noticias h2{
        font-size: 35px;
        color: #333333;
        text-align: center;
}